*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #EBEBEB;
}

.card{
    background-color: gainsboro;
    height: 300px;
    width: 400px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 30px;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.search{
    padding: 15px;
}
.search > input{
    width: 70%;
    padding: 8px;
    border-radius: 5px;
    border: 0;
    outline: 0;
}
.search > button{
    border-radius: 5px;
    outline: none;
    border: 0;
    font-size: 1rem;
    padding: 6px;
}
.search > button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}
.weather{
    padding-left: 50px;
    margin-left: 20px;
}